@font-face {
  font-family: 'nunito';

  src: url('Nunito-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  height: 100%;
  outline: none;
  width: calc(100%);
  height: calc(100%);
  min-height: calc(100%);
  font-family: 'nunito';
  overflow: hidden;
}

body {
  background-color: #1c1d1f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  text-align: center;
  /* flex-wrap: wrap; */
  font-family: 'nunito';
}

header {
  width: 99%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px 0;
}

h1 {
  margin: 0 auto;
  text-align: center;
  color: #f9f352;
  color: #fff;
  font-size: 32px;
  width: 100%;
}

h2 {
  margin: 0;
  font-size: 2em;
  color: #ff4d11;
}

h3 {
  margin-top: 3px;
  margin-bottom: 30px;
}

.logo {
  margin: 0 auto;
  width: 40px;
}

.sistema {
  background-color: rgb(152, 63, 241);
  color: #fff;
  padding: 5px 20px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 26px !important;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  box-shadow: -5px -5px 10px inset rgba(50, 50, 50, 0.5);
}

#container {
  min-width: 99%;
  max-width: 99%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 80px;
  grid-column-gap: 10px;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

.action-button {
  height: 40px;
  width: 100%;
  background-color: #373737;
  border: 1px solid #f0f0f0;
  outline: none;
}

.material-icons {
  color: #f0f0f0;
}

.action-button:hover {
  background-color: #01519a;
  color: #f0f0f0;
}

.bts {
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
}

.link {
  display: flex;
  flex-direction: row;
  position: relative;
}

canvas {
  background-color: transparent;
  border: 1px solid #ccc;
  width: 100%;
  flex-grow: 100%;
  min-height: 100%;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;

  min-width: 210px;
  max-width: 210px;
  min-height: 100%;
  min-height: calc(100%);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 1px;
}

.tbStatus {
  flex-grow: 100%;
  font-family: 'nunito';
  font-weight: 900;
  height: 40%;
}

.tbStats {
  margin: 2px 0;
}

.tbBand {
  flex-grow: 200%;
}

.tbStats,
.tbStatus,
.tbBand {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border: 1px solid #ccc;
  width: auto;
  padding: 5px;
  font-size: 14px;
  color: white;
  width: 100%;
}

.tbStats td:nth-child(odd),
.tbStatus td:nth-child(odd),
.tbBand td:nth-child(odd) {
  background-color: #373737;
  white-space: nowrap;
}

.tbStats td:nth-child(even),
.tbStatus td:nth-child(even),
.tbBand td:nth-child(even) {
  background-color: #585858;
  /* padding: 3px; */
}

.tbStats td:nth-child(1) {
  text-align: left;
}

.tbStatus td:nth-child(1) {
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
}

.tbBand td:nth-child(1) {
  text-align: left;
}

.tbStats td:nth-child(2) {
  text-align: right;
}

#divLoading {
  display: flex;
  flex-direction: column;
}

#message {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ff4d11;
  padding: 10px 30px;
  width: auto;
  border: 1px solid #01519a;
  border-radius: 8px;
  font-size: 1.5em;
  justify-content: center;
  font-weight: 600;
  height: auto;
  display: block;
  clear: both;
}

#divLoader {
  height: 150px;
  min-height: 150px;
  max-height: 150px;
}
.loader,
.loader:before,
.loader:after {
  background: #f0f0f0;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
}
.loader {
  color: #f0f0f0;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  font-weight: 600;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
